<div class="col-md-2 d-none d-md-block">
    <aside id="mySidenav" class="main_sidebar">
        <ul>
            <li>
                <i onclick="myFunction(this)" class="fa fa-chevron-left"></i>
                <a href="#">Remote Execute</a>
            </li>
            <li>
                <i class="fa fa-heart"></i>
                <a href="#">Health Monitor</a>
            </li>
            <li>
                <i class="fa fa-bell"></i>
                <a href="#">Alerts</a>
            </li>
            <li>
                <i class="fa fa-align-justify"></i>
                <a href="#">Listings</a>
            </li>
            <li>
                <i class="fa fa-refresh"></i>
                <a href="#">Auto Discovery</a>
            </li>
            <li>
                <i class="fa fa-bug"></i>
                <a href="#">Report Bug</a>
            </li>
            <li>
                <i class="fa fa-cogs"></i>
                <a href="#">Auto Process</a>
            </li>
            <li>
                <i class="fa fa-database"></i>
                <a href="#">Databases</a>
            </li>
            <li>
                <i class="fa fa-server"></i>
                <a href="#">Servers</a>
            </li>
            <li>
                <i class="fa fa-bar-chart"></i>
                <a href="#">Analytics</a>
            </li>
        </ul>
    </aside>
</div>